scripts/book_data.csv
scripts/books_data.json
scripts/books_part_1.json
scripts/books_part_2.json
scripts/books_part_3.json
scripts/books_part_4.json
scripts/books_part_5.json
scripts/books_part_6.json
scripts/books_part_7.json
scripts/books_part_8.json
scripts/books_part_9.json
scripts/books_part_10.json
scripts/books_part_11.json
scripts/books_scraped_part_1.json
scripts/books_scraped_part_2.json
scripts/books_scraped_part_3.json
scripts/convert.cjs
scripts/dzialajacy_kod.txt
scripts/merge.js
scripts/package-lock.json
scripts/package.json
scripts/scraper.cjs
scripts/scraper.py
scripts/split.cjs
scripts/node_modules/.package-lock.json
scripts/node_modules/.bin/csv-parser
scripts/node_modules/.bin/csv-parser.cmd
scripts/node_modules/.bin/csv-parser.ps1
scripts/node_modules/csv-parser/index.d.ts
scripts/node_modules/csv-parser/index.js
scripts/node_modules/csv-parser/LICENSE
scripts/node_modules/csv-parser/package.json
scripts/node_modules/csv-parser/README.md
scripts/node_modules/csv-parser/bin/csv-parser
