
*, body{
    font-family: Lexenga Giga, sans-serif;
    background-color: #ffe0f8;
}

h1, p{
    font-family: Lexend Giga, sans-serif;
}

.title{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    letter-spacing: 3px;
}

hr.solid {
    border-top: 3px solid #5d2b5e;
}

hr.solid2 {
    border-top: 2px solid #5d2b5e;
}

.dot {
    letter-spacing: 15vw;
    text-align: center;
    
}

.subtitle{
    text-align: center;
    font-size: 30px;
    font-family: Lexend Giga, sans-serif;
}

.container{
  max-width: 400px;
  margin: 0 auto;
}

.signature{
  position: relative;
  overflow: auto;
  width: 100%;
  height: 0;
  padding-bottom: 55.30973451%;
  svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
  /*  window.signature =
    initialize: ->
        $('.signature svg').each ->
            paths = $('path, circle, rect', this)
            delay = 0
            for path in paths
            length = path.getTotalLength()
            previousStrokeLength = speed || 0
            speed = if length < 100 theb 20 else Math.floor(length)
            delay +=previousStrokeLength +100
            $(path).css('transition', 'none')
                    .attr('data-lenth', length)
                    .attr('data-speed', speed)
                    .attr('data-delay', delay)
                    .attr('stroke-dashoffset', length)
                    .attr('stroke-dasharray', length + ',' + length)
    animate: ->
        $('.signature svg').each ->
            paths = $('path, circle, rect', this)
            for path in paths
                length = $(path).attr('data-lenth')
                speed = $(path).attr('data-speed')
                delay = $(path).attr('data-delay')
                $(path).css('transition', 'stroke-dashoffset ' + speed + 'ms ' + delay + 'ms ease-in-out')
                        .attr('stroke-dashoffset', '0')
$(document).ready ->
    window.signature.initialize()

$('button').on 'click', ->
    window.signature.initialize()
    setTimeout (-> window.signature.animate()), 500)

$(window).load ->
    window.signature.animate()
*/


.nav-container{
    position: relative; 
}

.sidebar{
    
    line-height: 30px;
    background-color: #b38db5;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 999;
}    

.sidebar.visible{
    transform: translateX(0);
}

.top-bar{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    position: relative;
    z-index: 1001;
}


.nav-button{
    background-color: #9e70a1;
    margin-top: 2%;
    margin-left: 20vw;
    position: fixed;
    border: #0b0b0b 2px solid;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    box-sizing: border-box;
    display: inline-block;
    font-weight: bold;

}

.menu:hover{
    background-color: #5d2b5e;
    color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.22);
}

.nav-button .line{

    background-color: #5d2b5e;
    display: block;
    width: 20px;
    height: 5px;
    margin: 10px auto 0 auto;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    overflow: visible;
    content: "";
}

#search-bar{

    width: 400px;
    margin: 0 20px;
    padding: 5px;
    font-size: 20px;
    border: 1px solid #ccc;
}

.profile-icon{

    font-size: 24px;
    cursor: pointer;
    padding: 5px;
    margin-left: auto;
}