
*{
    font-family: Lexenga Giga, sans-serif;
}

h1{
    font-family: Lexend Giga, sans-serif;
}

.title{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    letter-spacing: 3px;
}

.subtitle{
    text-align: center;
    font-size: 30px;
    font-family: Lexend Giga, sans-serif;
    /* background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

}

.container{
  max-width: 400px;
  margin: 0 auto;
}
.signature{
  position: relative;
  overflow: auto;
  width: 100%;
  height: 0;
  padding-bottom: 55.30973451%;
  svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
    window.signature =
    initialize: ->
        $('.signature svg').each ->
            paths = $('path, circle, rect', this)
            delay = 0
            for path in paths
            length = path.getTotalLength()
            previousStrokeLength = speed || 0
            speed = if length < 100 theb 20 else Math.floor(length)
            delay +=previousStrokeLength +100
            $(path).css('transition', 'none')
                    .attr('data-lenth', length)
                    .attr('data-speed', speed)
                    .attr('data-delay', delay)
                    .attr('stroke-dashoffset', length)
                    .attr('stroke-dasharray', length + ',' + length)
    animate: ->
        $('.signature svg').each ->
            paths = $('path, circle, rect', this)
            for path in paths
                length = $(path).attr('data-lenth')
                speed = $(path).attr('data-speed')
                delay = $(path).attr('data-delay')
                $(path).css('transition', 'stroke-dashoffset ' + speed + 'ms ' + delay + 'ms ease-in-out')
                        .attr('stroke-dashoffset', '0')
$(document).ready ->
    window.signature.initialize()

$('button').on 'click', ->
    window.signature.initialize()
    setTimeout (-> window.signature.animate()), 500)

$(window).load ->
    window.signature.animate()