
*, body{
    font-family: Lexend Giga, sans-serif;
    background-color: #fae8ff;
    font-weight: 450;
}

.montecarlo-regular {
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
}

h1, p{
    font-family: Lexend Giga, sans-serif;
}

.title{

    margin-top: 20px;
    font-size: 60px;
    letter-spacing: 4px;
    text-align: center;
    color: #3d0931;
    border: none;
    display: block;
    margin: auto;
}

.title:hover{
    cursor: pointer;
/*     color: #5d2b5e; */
}

hr.solid {
    border-top: 3px solid #5d2b5e;
}

hr.solid2 {
    border-top: 2px solid #5d2b5e;
}

.line {
    /* letter-spacing: 15vw; */
    text-align: center;
    width: 15%;
    margin-top: 3vw;
    border: 1px solid #896883;
}

.subtitle{
    text-align: center;
    font-size: 30px;
    font-family: Lexend Giga, sans-serif;
}

.container{
  max-width: 400px;
  margin: 0 auto;
}

.signature{
  position: relative;
  overflow: auto;
  width: 100%;
  height: 0;
  padding-bottom: 55.30973451%;
  svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



.nav-container{
    position: relative; 
    margin: 0;
    padding: 0;
}

.sidebar{
    
    line-height: 30px;
    background-color: rgba(179, 141, 181, 1);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    z-index: 2000;
    border:  1px solid  #896883; 
    background-image: linear-gradient(to bottom,  #3d0931, 85%, rgba(179, 141, 181, 0));

    transform: translateX(-100%);
}    

.sidebar.active{

    transform: translateX(0);
}



.sidebar-btn{

    border: 1px solid   #3d0931;
    width: 250px;
    height: 70px;
    font-size: 22px;
    background-color: transparent;
    font-family: Lexend Giga, sans-serif;
    color: white;
}

.sidebar-btn:hover{
    background-color: #613961;
    cursor: pointer;
}



.nav-button{
    margin-top: 2%;
    margin-left: 25vw;

    border: #0b0b0b 2px solid;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    box-sizing: border-box;
    display: inline-block;
    font-weight: bold;
    cursor: pointer !important;
    font-family: 'Courier New';

}

.nav-button:hover{
    background-color: #3d0931 ;

}


.top-bar{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    position: relative;
    z-index: 1001;
}


.menu:hover{
    background-color: #5d2b5e;
    color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.22);
}

.nav-button .line{

    background-color: #5d2b5e;
    display: block;
    width: 20px;
    height: 5px;
    margin: 10px auto 0 auto;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    overflow: visible;
    content: "";
}

#search-bar{

    width: 700px;
    margin: 0 20px;
    padding: 5px;
    font-size: 20px;
    border: 1px solid #896883;
}

#search-bar:hover{

    outline: none;
    border: 2px solid #723b72;
}



.profile-icon{

    font-size: 24px;
    cursor: pointer;
    padding: 5px;
    margin-left: auto;
}

.form-label{

    font-size: 18px;
    font-family: Lexend Giga, sans-serif;
}

.form-control{

    margin-top: 1vw;
    margin-bottom: 1vw;
    font-family: Lexend Giga, sans-serif;
}

.login{

    margin-right: 26%; 
    margin-top: 2%; 
    width: 12vw; 
    height: 35px;
    font-size: 18px;
    border-radius: 4px;
}

.login:hover{

    background-color: #613961;
    color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.22);
    cursor: pointer;
}

.logout{

    width: 10vw; 
    margin: 0; 
    margin-top: 2vw; 
    height: 35px;
    font-size: 18px;
    border: 2px solid #630913;
     border-radius: 4px;
/*     border-color: #630913;  */
    color: #630913;
}

.logout:hover{
    background-color: #630913;
    color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.22);
    cursor: pointer;
}

input{
    background-color: #fdf5ff;
}

.book-item{

    border: 1px solid #896883;
    border-radius: 8px;
    padding: 8px;
    margin: 10px 0;
    margin-left: 10vw;
    margin-right: 10vw;
    display:block;
    width: 80%;
    /*  text-align: left;*/
}

.book-item:hover, .book-item:hover > * {
    background-color: #613961;
    color: white;
    cursor: pointer;
}

.book-details{
    padding: 20px;
    margin: 20px 10vw;
    display:block;
    width: 80%;
}

.book-details > span{
    margin-left: 30%;
}