{% extends "nav.html" %}
{% block title %}Rekomendacje książek {% endblock %}
{% block page_title %} {{book.Title}} {% endblock %}
{% block content %}

<div class = "book-details">
    <span style="font-weight: bold;">Autor: </span>{{ book.Author }} <br><br>
    <span style="font-weight: bold;">Wydawnictwo: </span>{{ book.Publisher }} <br><br>
    <span style="font-weight: bold;">Kategoria: </span>{{ book.Category }} <br><br>
    <span style="font-weight: bold;">Ocena: </span>{{ book.Score }} <br><br>
    <span style="font-weight: bold;">Liczba ocen: </span>{{ book.AmountOfScores }} <br><br>
    <span style="font-weight: bold;">Liczba stron: </span>{{ book.Pages }} <br><br>
</div>


{% endblock %}