<!DOCTYPE html>
<html lang="en">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asimovian&family=Bruno+Ace+SC&family=Comfortaa:wght@350&family=EB+Garamond:ital@0;1&family=Kode+Mono:wght@400..700&family=Lexend+Giga:wght@149&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="../static/img/favicon.ico">
<link rel="stylesheet" href="../static/css/style.css">
    <title>Rekomendacje książek</title>
</head>
<body>
    <h1>Rekomendacje książek</h1>

</body>
</html>