<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Comfortaa:wght@350&family=Lexend+Giga:wght@149&family=MonteCarlo&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1 class = "title montecarlo-regular">Rekomendacje książek</h1>
    <hr class="solid">
    <div class = "nav-container">
        <div class="top-bar">
            <button id = "btn-nav-bar" class = "nav-button">
                <a class="menu">
                    <span class = "line"></span>
                </a>
            </button>
            <input type="text" style="width: 400px; margin-left: 40%; margin-top: -20px" placeholder="Wyszukaj książkę..." id="search-bar">
            <div class="profile-icon" title="Profile">⚙️</div>
        </div>

    </div>
    <p class="dot">••••••</p>    
    <h3 class = "subtitle">{% block page_title %}{% endblock %}</h3>

        <nav id = "nav-bar" class = "sidebar" /*style="visibility: hidden"*/>
            <button class = "sidebar-btn" onclick="location.href='/';" style="margin-top: 50px;">Menu</button><br>
            <button class = "sidebar-btn" onclick="location.href='/recommend';">Rekomendacje</button><br>
            <button class = "sidebar-btn" onclick="location.href='/wishlist';">Lista życzeń</button><br>
        </nav>
<footer>
    <hr class="solid2">
    <p>&copy; 2025 Rekomendacje książek</p>
</footer>

{% block scripts %}{% endblock %}

</body>
</html>

<script>
    const navBar = document.querySelector('#nav-bar');
    const toggleButton = document.querySelector('#btn-nav-bar');
    let navVisible = false;

    function toggleNavBar() {
        navVisible = !navVisible;
        navBar.classList.toggle('active', navVisible);
    }

    toggleButton.addEventListener('click', function () {
        toggleNavBar();
        this.classList.toggle('open');
    });

    document.addEventListener('mousemove', (e) => {
        if (e.clientX <= 10 && !navVisible) {
            navVisible = true;
            navBar.classList.add('active');
        } else if (e.clientX > 300 && navVisible && !toggleButton.classList.contains('open')) {
            navVisible = false;
            navBar.classList.remove('active');
        }
    });

</script>