<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Comfortaa:wght@350&family=Lexend+Giga:wght@149&family=MonteCarlo&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1 class = "title montecarlo-regular">Rekomendacje książek</h1>
    <hr class="solid">
    <div class = "nav-container">
        <div class="top-bar">
            <button id = "btn-nav-bar" class = "nav-button">
                <a class="menu">
                    <span class = "line"></span>
                </a>
            </button>
            <input type="text" style="width: 500px; margin-left: 33%; margin-top: 2%" placeholder="Wyszukaj książkę..." id="search-bar">
            <input type="image" src="../static/img/Windows_Settings_app_icon.png" style="margin-right: 26%; margin-top: 2%; width: 35px; height: 35px" id="settings-icon"/>
        </div>

    </div>
    <hr class="line"/>    
    <h3 class = "subtitle">{% block page_title %}{% endblock %}</h3>
    <hr class="line" style="width: 25%; margin-top: 2vw;"/> 
        <nav id = "nav-bar" class = "sidebar" /*style="visibility: hidden"*/>
            <button class = "sidebar-btn" onclick="location.href='/';" style="margin-top: 100px;">Menu</button><br>
            <button class = "sidebar-btn" onclick="location.href='/recommend';">Rekomendacje</button><br>
            <button class = "sidebar-btn" onclick="location.href='/wishlist';">Lista życzeń</button><br>
        </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
<footer style="margin-top: 1vw;;">
    <hr class="solid2">
    <p>&copy; 2025 Rekomendacje książek</p>
</footer>

{% block scripts %}{% endblock %}
</body>
</html>

<script>
    const navBar = document.querySelector('#nav-bar');
    const toggleButton = document.querySelector('#btn-nav-bar');
    let navVisible = false;

    function toggleNavBar() {
        navVisible = !navVisible;
        navBar.classList.toggle('active', navVisible);
    }

    toggleButton.addEventListener('click', function () {
        toggleNavBar();
        this.classList.toggle('open');
    });

    document.addEventListener('mousemove', (e) => {
        if (e.clientX <= 10 && !navVisible) {
            navVisible = true;
            navBar.classList.add('active');
        } else if (e.clientX > 300 && navVisible && !toggleButton.classList.contains('open')) {
            navVisible = false;
            navBar.classList.remove('active');
        }
    });

    document.getElementById("settings-icon").addEventListener('click', (e) => {

        window.location.pathname="profile";
        console.debug(window.location.pathname);
    })

</script>