{% extends "nav.html" %}
{% block title %}Rekomendacje książek {% endblock %}
{% block page_title %} Profil {% endblock %}
{% block content %}

<div style="text-align: center;">
    <h2>Witaj, {{ current_user.username }}!</h2>
    <br>
    <div style="text-align: left; margin-left: 40%;">
        <span id="username">Nazwa użytkownika: {{ current_user.username }}</span><br><br>
        <span id="email">Email: {{ current_user.email }}</span>
    </div>
    <button class = "login" id="btn_edit" style="margin-left:25%" onclick="edit()">Edytuj</button>
</div>
</body>
</html>
<script>
var editMode = false;
function edit() {
    if (editMode) {
        const newUsername = document.getElementById("new-username").value;
        const newEmail = document.getElementById("new-email").value;
        console.debug(newUsername);
        document.getElementById("username").innerText = 'Nazwa użytkownika: ' + newUsername;
        document.getElementById("email").innerText = 'Email: ' + newEmail;
        document.getElementById("btn_edit").innerText = "Edytuj";
        
        const response = fetch('/main/update_profile', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'username': newUsername,
                'email': newEmail
            })
        }).then(response => {
            if (response.ok) {
                console.debug(response);
            } else {
                console.error('Error updating profile');
            }
        }).catch(error => {
            console.error('Error:', error);
        });

        editMode = false;
    } else {
        document.getElementById("username").innerHTML = 'Nazwa użytkownika: <input type="text" id="new-username" value="{{ current_user.username }}">';
        document.getElementById("email").innerHTML = 'Email: <input type="text" id="new-email" value="{{ current_user.email }}">';
        editMode = true;
        document.getElementById("btn_edit").innerText = "Zapisz";
    }

}
    
</script>

{% endblock %}